@import '../../../styles/mixins';

.wrapper {
  @include flex(center, start, row-reverse);

  display: inline-flex;
}

.label {
  cursor: pointer;
  padding-left: 12px;
}

.checkbox {
  @include flex;

  position: relative;

  width: 18px;
  height: 18px;

  border: 3px solid var(--color-light-900);
  border-radius: 4px;

  transition:
    border-color 0.3s,
    background-color 0.3s;

  &:focus-visible {
    border-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }
}

.indicator {
  @include bg;

  position: absolute;
  top: -3px;
  left: -3px;

  width: 18px;
  height: 18px;

  opacity: 0;
  background-image: url('../../../assets/images/icons/checkbox.svg');

  transition: opacity 0.3s;
}

.checked {
  border-color: transparent;

  .indicator {
    opacity: 1;
  }
}

.disabled {
  .label {
    cursor: default;
    color: var(--color-dark-100);
  }

  .checkbox {
    cursor: inherit;
    color: var(--color-light-700);
    background-color: var(--color-light-700);
  }

  .indicator {
    filter: invert(42%) sepia(0%) saturate(4752%) hue-rotate(22deg) brightness(88%) contrast(91%);
  }
}
