.card,
.form,
.items,
.footer {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 420px;
  width: 100%;
  padding: 33px 36px 25px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.items {
  gap: 24px;
  margin-bottom: 18px;
}

.remember {
  margin-bottom: 6px;
}

.forgot {
  margin-bottom: 66px;
  margin-left: auto;
}

.button {
  margin-bottom: 20px;
}

.footer {
  gap: 11px;
  align-items: center;
  color: var(--color-light-900);
}

.link {
  color: var(--color-accent-500);
  text-decoration: underline;
}
