@import '../../../styles/_mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  @include sr-only;
}

.input {
  width: 36px;
  height: 36px;
}

.field {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  text-align: center;
  padding: 4px;
  background-color: transparent;
  border: 1px solid var(--color-dark-300);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.track {
  background-color: var(--color-accent-900);
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
  height: 5px;
}

.range {
  position: absolute;
  background-color: var(--color-accent-500);
  border-radius: inherit;
  height: 100%;
}

.thumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--color-light-100);
  border: 4px solid var(--color-accent-500);
  border-radius: 50%;
  cursor: pointer;
}

.thumb:focus {
  outline: none;
}
