@import '../../../styles/mixins';

.header {
  @include flex(center, space-between);

  flex-wrap: wrap;
  gap: 20px;
}

.title {
  @include flex;

  gap: 6px;
}

.count {
  color: var(--color-light-900);
}