.container {
  max-width: 1026px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 33px 0;
}

.back {
  margin-bottom: 33px;
  padding-left: 22px;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    @include bg;
    top: 2px;
    left: 0;
    background-image: url('../assets/images/icons/back.svg')
  }
}