@import '../../../styles/mixins';

.table {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.ratings,
.manage {
  display: flex;
  gap: 10px;
}

.rating {
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.representation {
  width: 28%;
  vertical-align: top;

  div {
    flex-direction: column-reverse;
  }
}

.btn {
  @include flex;

  display: inline-flex;
  width: 16px;
  height: 16px;
  transition: box-shadow 0.3s;

  svg {
    transition: stroke 0.3s;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-accent-500);
  }

  &:hover {
    svg {
      stroke: var(--color-accent-500);
    }
  }

  &:disabled {
    cursor: default;

    svg {
      stroke: var(--color-dark-300);
    }
  }
}