.icon {
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
}

.contentMenu {
  cursor: pointer;

  position: relative;

  width: 100%;
  max-width: 300px;
  margin-top: 12px;
  padding: 0 12px 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 3px;
}

.end {
  &::before {
    content: '';

    position: absolute;
    top: -7px;
    right: 13px;
    transform: rotate(45deg);

    width: 12px;
    height: 12px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-right: none;
    border-bottom: none;
  }
}

.start {
  &::before {
    content: '';

    position: absolute;
    top: -7px;
    left: 13px;
    transform: rotate(45deg);

    width: 12px;
    height: 12px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-right: none;
    border-bottom: none;
  }
}

.center {
  &::before {
    content: '';

    position: absolute;
    top: -7px;
    left: 47%;
    transform: rotate(45deg);

    width: 12px;
    height: 12px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-right: none;
    border-bottom: none;
  }
}

.item {
  position: relative;

  display: flex;
  align-items: normal;

  padding: 12px 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  color: var(--color-light-100);

  &::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    opacity: 0;
    background-color: var(--color-dark-500);
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    &::before {
      opacity: 1;
    }
  }
}

.item[data-highlighted] {
  color: var(--color-accent-100);
  outline: 0;
}

.itemValues {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding-left: 8px;

  vertical-align: super;
}

.extraValue {
  color: var(--color-dark-100);
}
