@import '../../styles/mixins';

.header {
  @include flex(center, space-between);

  flex-wrap: wrap;
  gap: 20px;
}

.settings {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  margin-bottom: 36px;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.clear {
  margin-left: auto;
}

.table {
  margin-bottom: 24px;
}

.preview {
  display: flex;
  align-items: center;
}

.image {
  width: 118px;
  height: 48px;
  object-fit: cover;
}

.pagination {
  justify-content: center;
}