.mainContainer {
  display: block;
}

.textFieldWrapper {
  position: relative;
  width: 100%;

  .searchIcon{
    position: absolute;
    top: 30%;
    left: 10px;
  }
  .textField {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    color: var(--color-dark-100);

    background-color: transparent;
    border: 1px solid var(--color-dark-100);
    outline: none;

    &::placeholder {
      color: var(--color-dark-100);
    }

    &:focus {
      border-color: var(--color-info-700);
      outline: 1px solid var(--color-info-700);
    }

    &:hover {
      background: var(--color-dark-700);
    }
  }
  .button{
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 12px;
  }

  .errorMsg {
    line-height: var(--line-height-m);
    color: var(--color-danger-300);
  }
}



