.card {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 33px 36px 48px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.attempt {
  margin-bottom: 41px;
  color: var(--color-dark-100);
}

.button {
  width: 100%;
}

.answer {
  margin-bottom: 12px;
}

.rate {
  display: inline-block;
  margin-bottom: 13px;
}

.radios {
  margin-bottom: 30px;
}