@import '../../../styles/mixins';

.header {
  padding: 12px 0;
  background-color: var(--color-dark-700);
}

.wrapper {
  @include flex(center, space-between);
}

.logo {
  width: 156px;
  height: 36px;
  outline: 0;
  transition: box-shadow 0.3s, border-radius 0.3s, opacity 0.3s;

  &:focus-visible {
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--color-accent-700);
  }

  &:hover {
    opacity: 0.7;
  }
}

.trigger {
  display: flex;
  gap: 10px;
  align-items: center;

  outline: 0;

  transition: color 0.3s, box-shadow 0.3s;

  &:focus-visible {
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-700);
  }
}

.name {
  border-bottom: 1px dashed var(--color-light-100);
}

.ava {
  width: 36px;
  height: 36px;
  object-fit: contain;
  border-radius: 50%;
}

.dropdownInfo {
  display: flex;
  flex-direction: column;
}

.email {
  color: var(--color-dark-100);
}

.dropdownItem {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
}

