.header {
  padding: 12px 0;
  background-color: var(--color-dark-700);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transform: translateY(10%);
}

.interactElements {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userName {
  text-decoration: underline dashed 1px;
}
