@import '../../../styles/mixins';

.header {
  padding: 12px 0;
  background-color: var(--color-dark-700);
}

.wrapper {
  @include flex(center, space-between);
}

.logo {
  width: 156px;
  height: 36px;
}

.trigger {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  border-bottom: 1px dashed var(--color-light-100);
}

.ava {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdownInfo {
  display: flex;
  flex-direction: column;
}

.email {
  color: var(--color-dark-100);
}

.dropdownItem {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
}
