.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.imageField {
  div {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  gap: 12px;
  width: 100%;
}

.button {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

.picture {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 2px;
}

.buttonOpen {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
