.card {
  border: 1px solid transparent;
}

.dark {
  background-color: var(--color-dark-500);
  border-color: var(--color-dark-300);
}

.light {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
  border-color: var(--color-dark-100);
}
