.card {
  max-width: 420px;
  padding: 33px 33px 41px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.picContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;

  div {
    position: relative;

    img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
    }

    .editAvaBtn {
      all: unset;

      cursor: pointer;

      position: absolute;
      right: 0;
      bottom: 6px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 16px;
      height: 16px;
      padding: 4px;

      background-color: var(--color-dark-300);
      border-radius: 4px;

      &:focus-visible {
        outline: var(--outline-focus);
      }
    }
  }
}

.nameWithBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 0;
  padding: 0;
  text-align: center;
}

.editNameBtn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
  text-align: center;
}

.logoutBtn {
  display: flex;
  justify-content: center;
}
